<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

<style>
    footer {
        border-top: 1px solid #18241f;
        padding: 25px 20px;
        text-align: center;
        color: #68756f;
        font-size: 13px;
    }

    footer span {
        color: #20c997;
    }
</style>


</head>

<body>

<!-- ============================================================
     FOOTER
============================================================ -->

<footer>
    Aditya -
    <span>
        Keep calm. The doctor is still Googling. 🧑‍⚕️💻
    </span>
</footer>

</body>

</html>
